body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,form,input{
    margin:0;
	padding:0;
	font-family:Arial,"微软雅黑";
	font-size:14px;
	list-style:none;/*清除列表标签的小圆点*/
}
a{
   color:#5a5a5a;
   text-decoration:none;
}
a:hover{
	text-decoration: none;
}
p{
	color:#5a5a5a;
}

img{
	border:none;
}
